In [3]:
import pandas as pd
data = pd.read_csv('data.csv')
print(data)

                                              job_title  \
0                         Chief Marketing Officer (CMO)
1                                      Registered Nurse
2                                      Dental Hygienist
3                           Senior Salesforce Developer
4     DEPUTY EXECUTIVE DIRECTOR, PROGRAM AND LEGAL A...
...                                                 ...
3319    Data Engineer/Architect with Security Clearance
3320              Data Engineer with Security Clearance
3321         Data Engineer, Mid with Security Clearance
3322       Data Modeler, Senior with Security Clearance
3323      Data Engineer, Senior with Security Clearance

                                    company state           city  min_salary  \
0                      National Debt Relief    NY       New York         NaN
1         Queens Boulevard Endoscopy Center    NY      Rego Park         NaN
2                            Batista Dental    NJ  West New York         NaN
3                      National Debt Relief    NY       New York     44587.0
4     National Advocates for Pregnant Women    NY       New York    125410.0
...                                     ...   ...            ...         ...
3319                    Booz Allen Hamilton    VA         McLean     74916.0
3320                    Booz Allen Hamilton    VA      Arlington     58824.0
3321                    Booz Allen Hamilton    VA        Herndon     58824.0
3322                    Booz Allen Hamilton    VA    Springfield     90454.0
3323                    Booz Allen Hamilton    VA        Herndon     91443.0

      max_salary                                           job_desc  \
0            NaN  Who We're Looking For:\n\nThe Chief Marketing ...
1            NaN  Queens Boulevard Endoscopy Center, an endoscop...
2            NaN  Part-time or Full-timedental hygienist positio...
3        82162.0  Principle Duties & Responsibilities:\n\nAnalyz...
4       212901.0  For FULL Job Announcement, visit our website: ...
...          ...                                                ...
3319    128610.0  Job Number: R0082817 Data Engineer/Architect\n...
3320    112227.0  Job Number: R0083152 Data Engineer\n\nThe Chal...
3321    112227.0  Job Number: R0083073 Data Engineer, Mid\n\nKey...
3322    151998.0  Job Number: R0082912 Data Modeler, Senior\n\nT...
3323    155868.0  Job Number: R0083334 Data Engineer, Senior\n\n...

               industry  rating date_posted valid_until   job_type    id
0               Finance     4.0  2020-05-08  2020-06-07  FULL_TIME     0
1                   NaN     3.0  2020-04-25  2020-06-07  FULL_TIME     1
2                   NaN     NaN  2020-05-02  2020-06-07  PART_TIME     2
3               Finance     4.0  2020-05-08  2020-06-07  FULL_TIME     3
4                   NaN     NaN  2020-04-28  2020-06-07  FULL_TIME     4
...                 ...     ...         ...         ...        ...   ...
3319  Business Services     3.7  2020-04-24  2020-06-06  FULL_TIME  3319
3320  Business Services     3.7  2020-05-02  2020-06-06  FULL_TIME  3320
3321  Business Services     3.7  2020-05-07  2020-06-06  FULL_TIME  3321
3322  Business Services     3.7  2020-04-28  2020-06-06  FULL_TIME  3322
3323  Business Services     3.7  2020-05-02  2020-06-06  FULL_TIME  3323

[3324 rows x 13 columns]

## requisito 2 - get_unique_job_types

In [17]:
data = [
  {'job_type': 'CONTRACTOR', 'min_salary': 1200, 'max_salary': 2300},
  {'job_type': 'CONTRACTOR', 'min_salary': 3000, 'max_salary': 5000},
  {'job_type': 'OTHER', 'min_salary': 6000, 'max_salary': 8000},
  {'job_type': 'PART_TIME', 'min_salary': 9000, 'max_salary': 12000},
]

conjunto = set()
compreension = [conjunto.add(element['job_type']) for element in data]
print(conjunto)

{'PART_TIME', 'CONTRACTOR', 'OTHER'}

## requisito 3 - get_unique_industries

In [20]:
data = [
  {'job_type': 'CONTRACTOR', 'min_salary': 1200, 'max_salary': 2300, 'industry': 'Finance'},
  {'job_type': 'CONTRACTOR', 'min_salary': 3000, 'max_salary': 5000, 'industry': 'Business'},
  {'job_type': 'OTHER', 'min_salary': 6000, 'max_salary': 8000, 'industry': 'Services'},
  {'job_type': 'PART_TIME', 'min_salary': 9000, 'max_salary': 12000, 'industry': 'Finance'},
]

filtered_industries = set()
[filtered_industries.add(el['industry']) for el in data if el['industry'] != '']
print(filtered_industries)

{'Business', 'Finance', 'Services'}

## requisito 4 - get_max_salary

In [24]:
data = [
  {'job_type': 'CONTRACTOR', 'min_salary': 1200, 'max_salary': 2300, 'industry': 'Finance'},
  {'job_type': 'CONTRACTOR', 'min_salary': 3000, 'max_salary': 5000, 'industry': 'Business'},
  {'job_type': 'OTHER', 'min_salary': 6000, 'max_salary': 8000, 'industry': 'Services'},
  {'job_type': 'PART_TIME', 'min_salary': 9000, 'max_salary': 12000, 'industry': 'Finance'},
]

salaries = set()
[salaries.add(el['max_salary']) for el in data if el["max_salary"].isnumeric()]
print(max(salaries))

NameError: name 'job' is not defined

## requisito 5 - get_min_salary

In [23]:
data = [
  {'job_type': 'CONTRACTOR', 'min_salary': 1200, 'max_salary': 2300, 'industry': 'Finance'},
  {'job_type': 'CONTRACTOR', 'min_salary': 3000, 'max_salary': 5000, 'industry': 'Business'},
  {'job_type': 'OTHER', 'min_salary': 6000, 'max_salary': 8000, 'industry': 'Services'},
  {'job_type': 'PART_TIME', 'min_salary': 9000, 'max_salary': 12000, 'industry': 'Finance'},
]

salaries = set()
[salaries.add(el['min_salary']) for el in data]
print(min(salaries))

1200